.about_2 {
    position: relative;
    padding: 2rem 0;
}

.about_2 .text {
    position: relative;
}

.about_2 .text h1 {
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 57px;
}

.about_2 .text p:nth-child(2) {
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
}

.about_2 .text p:nth-child(3) {
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 28px;
    text-align: justify;
    letter-spacing: -0.01em;
}

.about_2 .img {
    width: 100%;
    height: 80%;
}

.about_2 .img img {
    width: 100%;
    height: 100%;
}

@media(max-width:998px) {
    .flex-change {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column-reverse;
    }
}

.about_2 .about_2_click {
    position: relative;
    padding-top: 1rem;
}

.about_2 .about_2_click .img {
    width: 100%;
    height: 350px;
}

.about_2 .about_2_click .img img {
    width: 100%;

}

.about_2 .about_2_click .text {
    position: relative;

}

.about_2 .about_2_click .text p {
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 28px;
    text-align: justify;
    letter-spacing: -0.01em;
}

.about_2 .about_2_click .text .btn1 {
    position: relative;
    padding: 0.9rem 0;
}

.about_2 .about_2_click .text .btn1 a {
    text-decoration: none;
    text-align: center;
    font-weight: 600;
    color: #ffffff;
    background-color: #EBAB56;
    padding: 0.9rem 1rem;
}




/* ----------------------------about-3------------------- */
.about_3{
    position: relative;
    background-color: #EBAB56;
    color: #282713;
    margin: 2rem 0;
    padding: 1rem 0;
}
.about_3 .text{
    position: relative;
}
.about_3 .text h1{
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 40px;
}
.about_3 .text p{
  font-size: 1.2rem;
    font-weight: 500;
    line-height: 28px;
    text-align: justify;
}


/* --------------------------------mincon_choose-------------- */
.mincon_choose{
    position: relative;
    padding: 2rem 0;
}
.mincon_choose h1{
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 57px;
    text-align: left;
}
.mincon_choose .text{
    position: relative;
}
.mincon_choose .text .text-box{
    display: flex;
    align-items: center;
    justify-content: center;
}
.mincon_choose .text .text-box .img{ 
    width: 70px;
    height: 70px;
    margin-right: 1rem;
}
.mincon_choose .text .text-box .img img{ 
    width: 70px;
    height: 70px;
}
.mincon_choose .text .text-box .des{ 
   position: relative;
}
.mincon_choose .text .text-box .des h2{ 
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 32px;
  margin: 0;
  text-align: left;
}
.mincon_choose .text .text-box .des p{ 
  font-size: 0.8rem;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
}
.mincon_choose .bg-img{
    width: 100%;
}
.mincon_choose .bg-img img{
    width: 100%;
}

/* ----------------------------------mincon_sky---------------- */
.mincon_sky{
    position: relative;
    /* padding: 4rem;
    background-image: url('../images/mincon_hero_bg2.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; */
}
.mincon_sky .text{
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}
.mincon_sky  .img{
    width: 100%;
    position: relative;
 }
 .mincon_sky  .img img{
    width: 100%;
 }
.mincon_sky .text{
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%,-50%);
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    /* padding: 3rem 0; */
}
.mincon_sky .text h2{
    font-size: 1.8rem;
    font-weight: 800;
    margin-bottom: 2.5rem;
    /* line-height: 20px; */
}
.mincon_sky .text img{
   width: 280px;
}
.mincon_end_text .end_text{
    padding: 2rem 0;
}
.mincon_end_text .end_text p{
    font-size: 1.5rem;
    font-weight: 800;
    line-height: 28px;
    text-align: justify;
}
@media(max-width:770px){
    .mincon_sky .text{
        padding: 0.5rem;
        left: 30%;
    }
    .mincon_sky .text h2{
        font-size: 0.8rem;
        margin-bottom: 0.5rem;
}
    .mincon_sky .text img{
        width:100px;
}
}