.cart{
    position: relative;
}
.cart .box_area{
   border-left:1px solid #000000 ;
   padding-left: 2rem;
}
.cart .cart_box{
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.cart .cart_box .img img{
   height: 50px;
}
.cart .cart_box .text{
position: relative;
padding: 0 1rem;
}
.cart .cart_box .text p{
 font-size: 0.9rem;
 font-weight: 600;
 margin: 0;
}
.cart .cart_box .btn1 p{
cursor: pointer;
 border: none;
 background-color: #EBAB56;
 color: #fff;
 padding: 0.5rem;
}

.cart .mincon_contact .head p {
color: #282713;
font-size: 1rem;
font-weight: 700;
}
.cart .mincon_contact .form-group {
padding: 0.3rem 0;
}
.cart .mincon_contact .input-box{
    width: 80%;
    padding: 0.5rem 0.3rem;

}