.contact_1{
    position: relative;
    padding: 2rem 0;
}
.contact_1 .box{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    color: #282713;
}
.contact_1 .box .img {
 margin-bottom: 1rem;
}
.contact_1 .box .img img{
 width: 70px;
 height: 70px;
}
.contact_1 .box h3{
font-size: 1.5rem;
font-weight: 700;
line-height: 28px;
/* margin: 0; */
}
.contact_1 .box p{
font-size: 1rem;
font-weight: 500;
line-height: 24px;
}
.contact_1 .box p a{
text-decoration: none;
color: #282713;
}
.contact_1 .img-logo img{
width: 100%;
}


/* --------------------------Contact_2-------------------------- */
.contact_2{
    position: relative;
}
.contact_2 .form-group{
    padding: 0.4rem;
}
.contact_2 .form-group .input-box{
    padding: 0.7rem 0.5rem;
}
.contact_2 .form-group .sub-btn{
    padding: 0.7rem 1.5rem;
}